.title {
    font-weight: bold;
}

.main_content {
    padding: 20px;
}

nav {
    background-color: #000000;
    font-size: 20px;
    padding: 20px;
}

nav>a {
    color: white;
    margin-right: 10px;
}